Repository glotzerlab/hoomd-blue, pull requests merged in 2024-07, with the labels that each got.

#1817 Add expanded gaussian pair for hpmc
  hoomd/hpmc/CMakeLists.txt
  hoomd/hpmc/PairPotentialExpandedGaussian.cc
  hoomd/hpmc/PairPotentialExpandedGaussian.h
  hoomd/hpmc/module.cc
  hoomd/hpmc/pair/CMakeLists.txt
  hoomd/hpmc/pair/__init__.py
  hoomd/hpmc/pair/expanded_gaussian.py
  hoomd/hpmc/pytest/CMakeLists.txt
  hoomd/hpmc/pytest/test_pair_expanded_gaussian.py
  sphinx-doc/module-hpmc-pair.rst
Labels: enhancement, hpmc, validate

#1840 Release 4.8.0
  .bumpversion.cfg
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/release.md
  .mailmap
  .pre-commit-config.yaml
  BUILDING.rst
  CHANGELOG.rst
  CMakeLists.txt
  INSTALLING.rst
  hoomd/hpmc/external/user.py
  hoomd/hpmc/pair/user.py
  sphinx-doc/conf.py
Labels: validate, release

#1845 Fix MPCD compiler warning
  hoomd/RandomNumbers.h
Labels: validate

#1846 Fix illegal instruction on osx-64 when returning 0 length arrays
  hoomd/BondedGroupData.cc
  hoomd/GSDReader.cc
  hoomd/ParticleData.cc
  hoomd/mpcd/ParticleDataSnapshot.cc
Labels: validate

#1848 Release 4.8.1
  .bumpversion.cfg
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/release.md
  BUILDING.rst
  CHANGELOG.rst
  CMakeLists.txt
  INSTALLING.rst
  hoomd/hpmc/external/user.py
  hoomd/hpmc/pair/user.py
  sphinx-doc/conf.py
Labels: validate, release

#1851 Default `BUILD_MPCD` off on the HIP platform.
  CMakeLists.txt
Labels: validate

#1850 Allow dynamic loading of slurm_conf on Anvil.
  hoomd/__init__.py
Labels: validate, release

#1860 Release 4.8.2
  .bumpversion.cfg
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/release.md
  BUILDING.rst
  CHANGELOG.rst
  CMakeLists.txt
  INSTALLING.rst
  hoomd/hpmc/external/user.py
  hoomd/hpmc/pair/user.py
  sphinx-doc/conf.py
Labels: validate, release
