Repository glotzerlab/hoomd-blue, pull requests merged in 2024-03, with the labels that each got.

#1725 Union Potentials in HPMC
  hoomd/hpmc/CMakeLists.txt
  hoomd/hpmc/PairPotential.cc
  hoomd/hpmc/PairPotential.h
  hoomd/hpmc/PairPotentialLennardJones.cc
  hoomd/hpmc/PairPotentialLennardJones.h
  hoomd/hpmc/PairPotentialUnion.cc
  hoomd/hpmc/PairPotentialUnion.h
  hoomd/hpmc/module.cc
  hoomd/hpmc/pair/CMakeLists.txt
  hoomd/hpmc/pair/__init__.py
  hoomd/hpmc/pair/lennard_jones.py
  hoomd/hpmc/pair/pair.py
  hoomd/hpmc/pair/union.py
  hoomd/hpmc/pytest/CMakeLists.txt
  hoomd/hpmc/pytest/test_pair_union.py
  hoomd/md/EvaluatorPairDipole.h
  hoomd/md/ForceComposite.h
  sphinx-doc/module-hpmc-pair.rst
Labels: validate

#1730 Fix cmake warnings.
  .github/workflows/release.yml
  .github/workflows/templates/workflow.yml
  .github/workflows/test.yml
  BUILDING.rst
  CMake/hoomd/HOOMDPythonSetup.cmake
  CMake/hoomd/hoomd-macros.cmake
  CMakeLists.txt
  example_plugins/CMakeLists.txt
  example_plugins/pair_plugin/CMakeLists.txt
  example_plugins/shape_plugin/CMakeLists.txt
  example_plugins/updater_plugin/CMakeLists.txt
  hoomd-config.cmake.in
  hoomd/CMakeLists.txt
  hoomd/hpmc/CMakeLists.txt
  hoomd/hpmc/test/CMakeLists.txt
  hoomd/md/CMakeLists.txt
  hoomd/md/test/CMakeLists.txt
  hoomd/metal/CMakeLists.txt
  hoomd/mpcd/CMakeLists.txt
  hoomd/mpcd/test/CMakeLists.txt
  hoomd/test/CMakeLists.txt
Labels: validate, release

#1712 Reimplement MPCD solvent forces
  BUILDING.rst
  hoomd/CMakeLists.txt
  hoomd/GPUPolymorph.cuh
  hoomd/GPUPolymorph.h
  hoomd/mpcd/BlockForce.cc
  hoomd/mpcd/BlockForce.h
  hoomd/mpcd/BounceBackStreamingMethod.cc.inc
  hoomd/mpcd/BounceBackStreamingMethod.h
  hoomd/mpcd/BounceBackStreamingMethodGPU.cc.inc
  hoomd/mpcd/BounceBackStreamingMethodGPU.cu
  hoomd/mpcd/BounceBackStreamingMethodGPU.cu.inc
  hoomd/mpcd/BounceBackStreamingMethodGPU.cuh
  hoomd/mpcd/BounceBackStreamingMethodGPU.h
  hoomd/mpcd/BulkStreamingMethod.cc
  hoomd/mpcd/BulkStreamingMethod.cc.inc
  hoomd/mpcd/BulkStreamingMethod.h
  hoomd/mpcd/BulkStreamingMethodGPU.cc
  hoomd/mpcd/BulkStreamingMethodGPU.cc.inc
  hoomd/mpcd/BulkStreamingMethodGPU.cu
  hoomd/mpcd/BulkStreamingMethodGPU.cu.inc
  hoomd/mpcd/BulkStreamingMethodGPU.h
  hoomd/mpcd/CMakeLists.txt
  hoomd/mpcd/ConstantForce.cc
  hoomd/mpcd/ConstantForce.h
  hoomd/mpcd/ExternalField.cc
  hoomd/mpcd/ExternalField.cu
  hoomd/mpcd/ExternalField.h
  hoomd/mpcd/NoForce.cc
  hoomd/mpcd/NoForce.h
  hoomd/mpcd/SineForce.cc
  hoomd/mpcd/SineForce.h
  hoomd/mpcd/StreamingMethod.cc
  hoomd/mpcd/StreamingMethod.h
  hoomd/mpcd/__init__.py
  hoomd/mpcd/force.py
  hoomd/mpcd/module.cc
  hoomd/mpcd/pytest/CMakeLists.txt
  hoomd/mpcd/pytest/test_force.py
  hoomd/mpcd/pytest/test_stream.py
  hoomd/mpcd/stream.py
  hoomd/mpcd/test/CMakeLists.txt
  hoomd/mpcd/test/external_field_test.cc
  hoomd/mpcd/test/external_field_test.cu
  hoomd/mpcd/test/external_field_test.cuh
  hoomd/mpcd/test/force_test.cc
  hoomd/mpcd/test/streaming_method_test.cc
  hoomd/test/test_gpu_polymorph.cc
  hoomd/test/test_gpu_polymorph.cu
  sphinx-doc/module-mpcd-force.rst
  sphinx-doc/package-mpcd.rst
Labels: mpcd, validate

#1732 Step potential [HPMC].
  hoomd/hpmc/CMakeLists.txt
  hoomd/hpmc/PairPotential.h
  hoomd/hpmc/PairPotentialStep.cc
  hoomd/hpmc/PairPotentialStep.h
  hoomd/hpmc/module.cc
  hoomd/hpmc/pair/CMakeLists.txt
  hoomd/hpmc/pair/__init__.py
  hoomd/hpmc/pair/step.py
  hoomd/hpmc/pytest/CMakeLists.txt
  hoomd/hpmc/pytest/test_pair_lennard_jones.py
  hoomd/hpmc/pytest/test_pair_step.py
  sphinx-doc/module-hpmc-pair.rst
Labels: validate

#1714 Rotate MPCD geometry and force coordinates
  hoomd/mpcd/BlockForce.h
  hoomd/mpcd/BounceBackNVE.h
  hoomd/mpcd/BounceBackNVEGPU.h
  hoomd/mpcd/BounceBackStreamingMethod.h
  hoomd/mpcd/BounceBackStreamingMethodGPU.h
  hoomd/mpcd/BulkGeometry.h
  hoomd/mpcd/ParallelPlateGeometry.h
  hoomd/mpcd/ParallelPlateGeometryFiller.cc
  hoomd/mpcd/ParallelPlateGeometryFiller.h
  hoomd/mpcd/ParallelPlateGeometryFillerGPU.cc
  hoomd/mpcd/ParallelPlateGeometryFillerGPU.cu
  hoomd/mpcd/ParallelPlateGeometryFillerGPU.cuh
  hoomd/mpcd/PlanarPoreGeometry.h
  hoomd/mpcd/PlanarPoreGeometryFiller.cc
  hoomd/mpcd/PlanarPoreGeometryFillerGPU.cu
  hoomd/mpcd/SineForce.h
  hoomd/mpcd/force.py
  hoomd/mpcd/geometry.py
  hoomd/mpcd/methods.py
  hoomd/mpcd/pytest/test_methods.py
  hoomd/mpcd/pytest/test_stream.py
  hoomd/mpcd/stream.py
  hoomd/mpcd/test/force_test.cc
  hoomd/mpcd/test/parallel_plate_geometry_filler_test.cc
  hoomd/mpcd/test/planar_pore_geometry_filler_test.cc
  hoomd/mpcd/validation/CMakeLists.txt
  sphinx-doc/mpcd_slit_pore.png
Labels: mpcd, validate

#1736 Enable slow compression with QuickCompress
  hoomd/BoxDim.h
  hoomd/data/typeconverter.py
  hoomd/hpmc/UpdaterQuickCompress.cc
  hoomd/hpmc/UpdaterQuickCompress.h
  hoomd/hpmc/pytest/test_quick_compress.py
  hoomd/hpmc/update.py
  hoomd/variant/box.py
Labels: validate

#1739 Allow setting None parameter in hpmc.pair.Step.
  hoomd/hpmc/PairPotentialStep.cc
  hoomd/hpmc/PairPotentialStep.h
  hoomd/hpmc/pytest/test_pair_step.py
  hoomd/hpmc/pytest/test_pair_union.py
Labels: validate

#1740 Deprecate the box1 box2 arguments to BoxResize.
  hoomd/BoxResizeUpdater.cc
  hoomd/BoxResizeUpdater.h
  hoomd/BoxResizeUpdaterGPU.cc
  hoomd/BoxResizeUpdaterGPU.h
  hoomd/pytest/test_box_resize.py
  hoomd/update/box_resize.py
  hoomd/variant/box.py
  sphinx-doc/deprecated.rst
Labels: validate

#1734 Add examples to MPCD documentation
  hoomd/mpcd/BounceBackNVE.h
  hoomd/mpcd/BounceBackStreamingMethod.h
  hoomd/mpcd/__init__.py
  hoomd/mpcd/collide.py
  hoomd/mpcd/fill.py
  hoomd/mpcd/force.py
  hoomd/mpcd/geometry.py
  hoomd/mpcd/integrate.py
  hoomd/mpcd/methods.py
  hoomd/mpcd/pytest/test_methods.py
  hoomd/mpcd/pytest/test_stream.py
  hoomd/mpcd/stream.py
  hoomd/mpcd/tune.py
  hoomd/util.py
Labels: mpcd, validate

#1728 Pair hpmc angular step potential
  hoomd/hpmc/CMakeLists.txt
  hoomd/hpmc/PairPotentialAngularStep.cc
  hoomd/hpmc/PairPotentialAngularStep.h
  hoomd/hpmc/module.cc
  hoomd/hpmc/pair/CMakeLists.txt
  hoomd/hpmc/pair/__init__.py
  hoomd/hpmc/pair/angular_step.py
  hoomd/hpmc/pytest/CMakeLists.txt
  hoomd/hpmc/pytest/test_pair_angular_step.py
  sphinx-doc/module-hpmc-pair.rst
Labels: validate

#1737 Refactor virtual particle interface
  hoomd/mpcd/CMakeLists.txt
  hoomd/mpcd/ManualVirtualParticleFiller.cc
  hoomd/mpcd/ManualVirtualParticleFiller.h
  hoomd/mpcd/ParallelPlateGeometryFiller.cc
  hoomd/mpcd/ParallelPlateGeometryFiller.h
  hoomd/mpcd/ParallelPlateGeometryFillerGPU.cc
  hoomd/mpcd/ParticleData.cc
  hoomd/mpcd/ParticleData.h
  hoomd/mpcd/PlanarPoreGeometryFiller.cc
  hoomd/mpcd/PlanarPoreGeometryFiller.h
  hoomd/mpcd/PlanarPoreGeometryFillerGPU.cc
  hoomd/mpcd/VirtualParticleFiller.cc
  hoomd/mpcd/VirtualParticleFiller.h
  hoomd/mpcd/module.cc
Labels: mpcd, validate

#1741 Enable flake8 for MPCD
  .pre-commit-config.yaml
  hoomd/mpcd/__init__.py
  hoomd/mpcd/collide.py
  hoomd/mpcd/fill.py
  hoomd/mpcd/force.py
  hoomd/mpcd/geometry.py
  hoomd/mpcd/integrate.py
  hoomd/mpcd/methods.py
  hoomd/mpcd/pytest/test_collide.py
  hoomd/mpcd/pytest/test_fill.py
  hoomd/mpcd/pytest/test_force.py
  hoomd/mpcd/pytest/test_geometry.py
  hoomd/mpcd/pytest/test_integrator.py
  hoomd/mpcd/pytest/test_methods.py
  hoomd/mpcd/pytest/test_snapshot.py
  hoomd/mpcd/pytest/test_stream.py
  hoomd/mpcd/pytest/test_tune.py
  hoomd/mpcd/stream.py
  hoomd/mpcd/tune.py
  setup.cfg
Labels: mpcd, validate
